NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=medly
DB_USER=postgres
DB_PASS=secret

JWT_SECRET=cambia_esto_en_produccion
JWT_EXPIRES_IN=7d

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

APP_PUBLIC_URL=http://localhost:3000
